@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-4">Інтернет-автосалон VIDI.UA</h1>
    <p>Автомобілі, мото- та водна техніка. Сервіс і запчастини. Авто в кредит або лізинг.</p>
</div>
